<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-map-location-dot"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link fw-bold" href="/">Home</a>
                <!-- Home redirecting to root route . fw-bold bootstrap class for bold text -->
                <a class="nav-link fw-bold" href="/listings">All Listings</a>
                <a class="nav-link fw-bold" href="/listings/new">Add new Listing</a>
                <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
            </div>

            <div class="navbar-nav ms-auto"> <!-- ms-auto to shift options to right -->
                <% if(!currUser) { %>
                    <a class="nav-link fw-bold" href="/signup">Sign Up</a>
                    <a class="nav-link fw-bold" href="/login">Log In</a>
                    <% } %>

                        <% if(currUser) { %>
                            <a class="nav-link fw-bold" href="/logout">Log Out</a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>